.header-image
{
    height:150px;
    width: auto;
    border-radius: 50%;
    border: 7px solid #8FB0A6;
    margin-top: 15px;
}

h1
{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway';
    margin-bottom: 15px;
    color: black;
}

/* The navbar container */
.topnav
{
    margin-top: 0px;
    overflow: hidden;
    color: black;
}

/* Navbar links */
.topnav a
{
    font-family: 'Raleway';
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    margin-right: 20px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover
{
    background-color: #8FB0A6;
    color: white;
}

img
{
    margin-top: 75px;
    margin-right: 30px;
    width: 300px;
}

h2
{
    position: relative;
    text-align: left;
    font-size: 20px;
    font-family: 'Raleway';
    margin-top: 30px;
    margin-bottom: 15px;
    color: black;
}

body
{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

 /* Create two unequal columns that floats next to each other */
.column1
{
  float: left;
  width: 55%;
  max-width: 430px;
  min-width: 100px;
}

.column2
{
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px)
{
  .column
  {
    width: 100%;
  }
}

footer
{
    margin-top: 50px; 
    margin-bottom: 20px;
    margin-right: 50px; 
    font-size: small;
    text-align: right;
    color: black;
}

/* general links */
a:link
{
    color: #8FB0A6;
}

/* visited link */
a:visited
{
    color: #8FB0A6;
}

/* unvisited link*/
a:unvisited
{
    color: #8FB0A6;
}

/* link is now hovered over */
a:hover
{
    color: #A1C7BC;
}